<div class="row">
  <div class="col-md-8 offset-md-2">
    <h4 class="d-inline-block bg-light px-3 py-2">
      商品編集
    </h4>
    <%= render partial: "admin/items/form", locals: {resource: @item, request_to: admin_item_path(@item)} %>
  </div>
</div>
