<div class="row">
  <div class="col-md-8 offset-md-2">
    <h4 class="d-inline-block bg-light px-3 py-2">
      新規商品登録
    </h4>
    <%= render partial: "admin/items/form", locals: {resource: @new_item, request_to: admin_items_path} %>
  </div>
</div>
